---
layout: default
---

{% for post in site.posts %}
	  {% if post.type == 'front' %}
		   <h1>{{post.title}}</h1>	
		    <div class="content-section">
			    	
		       <p><img src="{{site.baseurl}}/image/author3.png" style="float:right"></p>

		       {{post.content}}
					
		    </div>

		  {% include form.html %}
		  <!--  comment section-->
					   	<div class="comments-section">
				<div class="row">
					<div class="col-md-2 author">
						<img src="image/oqvbrv-bookie-testimonial-profile-cold.png"/>
						<span>Author</span>
					</div>
					<div class="col-md-8 comment">
						<p><i class="fa fa-quote-left" aria-hidden="true" style="padding:5px;font-size:12px;color:#000"></i>{{post.testimonial1}}<i class="fa fa-quote-right" aria-hidden="true" style="padding:5px;font-size:12px;color:#000"></i></p>
					</div>
				</div>
							<div class="line"></div>
					<div class="row">
					<div class="col-md-2 author">
						<img src="image/oqvbrv-bookie-testimonial-profile-cold.png"/>
						<span>Author</span>
					</div>
					<div class="col-md-8 comment">
						<p><i class="fa fa-quote-left" aria-hidden="true" style="padding:5px;font-size:12px;color:#000"></i>{{post.testimonial2}}<i class="fa fa-quote-right" aria-hidden="true" style="padding:5px;font-size:12px;color:#000"></i></p>
					</div>
				</div>
					<div class="row">
					<div class="col-md-2 author">
						<img src="image/oqvbrv-bookie-testimonial-profile-cold.png"/>
						<span>Author</span>
					</div>
					<div class="col-md-8 comment">
						<p><i class="fa fa-quote-left" aria-hidden="true" style="padding:5px;font-size:12px;color:#000"></i>{{post.testimonial3}}<i class="fa fa-quote-right" aria-hidden="true" style="padding:5px;font-size:12px;color:#000"></i></p>
					</div>
				</div>
			</div> <!--comment section end-->
	  {% endif %}
{% endfor %}






	 