 {% for post in site.posts %}
	  {% if post.type == 'front' %}
		   <h1>{{post.title}}</h1>	
		    <div class="content-section">
			    	
		       <p><img src="{{site.baseurl}}/image/author3.png" style="float:right"></p>

		       {{content}}
					
		    </div>

		    <div class="form-section">
				<form method="post" action="" id="frmSS31" onsubmit="return CheckForm31(this); " style="width:100%;display:inline-block">
					<input type="text" id="" name="" value="" placeholder="Enter your name">
					   <input type="text" name="email" value="" placeholder="Enter your Email"/> 
					   <input type="submit" value="Learn more about MCMaster here" class="button" />
				</form>
           </div>
	  {% endif %}       
{% endfor %}
