<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Mc</title>
<link href="{{site.baseurl}}/css/style.css" rel="stylesheet" type="text/css">
<link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<script type="text/javascript" src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/jquery-1.11.1.min.js"></script>

</head>
<body class="custom">
  <div class="container">
  		<div class="mm-home">
        
    {{content}}

<div class="form-section">
			<form method="post" action="" id="frmSS31" onsubmit="return CheckForm31(this); " style="width:100%;display:inline-block">
				<input type="text" id="" name="" value="" placeholder="Enter your name">
				   <input type="text" name="email" value="" placeholder="Enter your Email"/> 
				   <input type="submit" value="Learn more about MCMaster here" class="button" />
					   </form>
			</div>
			
  
       	<div class="menu">
    		<ul>
				<li><a href="{{site.baseurl}}">Home</a></li>
				<li><a href="{{site.baseurl}}/about/">About</a></li>
				<li><a href="{{site.baseurl}}/contact/">Contact</a></li>
				<li><a href="{{site.baseurl}}/privacy/">Privacy</a></li>
			</ul>
		</div>
	  </div>
	</div>
</body>
</html>
